<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>usa house</title>
</head>

<body background=#DBF9FC>
<center><h1>USA HOUSING RATE PRIDICTION</h1></center><br><br>
<div style="color:black">


<form action="http://127.0.0.1:5000/" method="post">
<center>
    Avg. Area Income :  <input type ="text" name='nm' placeholder="Enter your Avg. Area Income" required><br><br>
    Avg. Area House Age : <input type="text" name='fnum' placeholder="Enter your Avg. Area House Age " required><br><br>
    Avg. Area Number of Rooms : <input type="text" name='snum' placeholder="Enter your Avg. Area Number of Rooms" required><br><br>
    Avg. Area Number of Bedrooms : <input type="text" name='tnum' placeholder="Enter your Avg. Area Number of Bedrooms" required><br><br>
    Area Population : <input type="text" name='frnum' placeholder="Enter your Area Population" required><br><br>

     <input type="submit">   <input type="reset"> <br><br>
    <center>

        Avg. Area Income: {{value1}} <br>
        Avg. Area House Age = {{value2}}<br>
        Avg. Area Number of Rooms = {{value3}}<br>
        Avg. Area Number of Bedrooms = {{value4}}<br>
        Area Population = {{value5}}<br>

    </center><br><br>
       <center><h1>{{final}}</h1> <h1></h1></center>

        <br><br><br>
    <style>
        body {
            background-color: lightslategray;
            text-align: center;
            padding: 0px;
        }
</center>
</form>
</body>
</html>